*{
    color: lightgray;
    background-color: rgb(16, 15, 19);
}



.movie-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imgLoader{
min-height: 100%;
min-width: 800px;

width: 100%;
height: auto;

position:absolute;
top: 0;
left: 0;
}

