@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,500&display=swap');

*{
    color: lightgray;
    background-color: rgb(22, 17, 35);
}

h3{
    padding-left: 1.5%;
    font-weight:lighter;
    text-transform: uppercase;
    color: #9ab;
    letter-spacing: .06em;

}

.show-all-and-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.show-all-and-title a{
    margin-right: 1.5%;
}

.imagen-central {
    width: 100%;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
} 
.movie-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

#texto-centrado-en-home {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    font-weight: 600;
    font-family: 'Source Serif 4', serif;
  }
#texto-centrado-en-home2 {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    font-weight: 600;
    font-family: 'Source Serif 4', serif;
} 
#texto-centrado-en-home3 {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    font-weight: 600;
    font-family: 'Source Serif 4', serif;

}
em {
    background: none;
    font-family: 'Source Serif 4', serif;
}

/* flechas */
.flechas {
    padding-top: 16%;
}
#flecha-derecha i{
    font-size: 22px;
    color: gray;
} 
#flecha-derecha {
    border:none
}
#flecha-derecha-mover {
    margin-right: 0.5%;
    margin-left: -0.6%;
}
#flecha-derecha i:hover {
    color: rgba(211, 211, 211, 0.65);
    cursor: pointer;
}
#flecha-izquierda i{
    font-size: 22px;
    color: gray;
}
#flecha-izquierda {
    border: none;
}
#flecha-izquierda-mover {
    margin-left: 0.2%;
    margin-right: -0.1%;
}
#flecha-izquierda i:hover {
    color: lightgray;
    cursor: pointer;
}
#flecha-especial {
    border: none;
}
#flecha-especial i {
    color: rgba(128, 128, 128, 0.431);
    font-size: 22px;
}



.bg-image {
    position: relative;
    text-align: center;
}
.imgLoader{
min-height: 100%;
min-width: 800px;

width: 100%;
height: auto;

position:absolute;
top: 0;
left: 0;
}

/* probando el boton */
.buton {
    background-color: white; 
    color: black; 
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 600px;
    margin-bottom: 2%;
    margin-top: 1%;
    border-radius: 8px;
}
.button {
    color: rgb(153, 170, 187);
    font-size: 12px;
    letter-spacing: .075em;
    background-color: #f44336;
    text-align: center;
    padding: 16px 32px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 8px;
}
.button:hover {
    color: white;
    cursor: pointer;
}

/* probando el boton */
.buton:hover {
    background-color: #f44336;
    color: white;
}


