.top-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.top-content button {
    width: fit-content;
    align-self: center;
}

.top-content p{
    background-color: grey;
    border-radius: 2px;
    padding: 1px;
    margin-left: 5px;
}

.imgLoader{
    min-height: 100%;
    min-width: 800px;
    
    width: 100%;
    height: auto;
    
    position:absolute;
    top: 0;
    left: 0;
    }