.top-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.more {
    color: rgb(153, 170, 187);
    font-size: 12px;
    letter-spacing: .075em;
    background-color: #f44336;
    text-align: center;
    padding: 8px 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 16px;
    border-color: transparent;

}

.more:hover {
    color: white;
    cursor: pointer;
}

.page-title {
    margin-left: 12px;
}

.top-content p{
    background-color: grey;
    border-radius: 2px;
    padding: 1px;
    margin-left: 5px;
}

.imgLoader{
    min-height: 100%;
    min-width: 800px;
    
    width: 100%;
    height: auto;
    
    position:absolute;
    top: 0;
    left: 0;
}

.movie-container-all{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
} 

.movie-filter {
    background-color: inherit;
    text-align: start;
    margin-left: 20px;
}

.movie-filter input {
    border-radius: 8px;
    background-color: darkgray;
    color: black;
    border: none;
    outline: none;
    width: 30%;
    font-size: 17px;
    font-family: 'Work Sans', sans-serif;
    height: 1.9rem;
}

.movie-filter input:hover {
    background-color: white;
}