.movie-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 28%;
    background-color: grey;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.movie-card img{
    width: 60%;
}

.movie-card h2 {
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.movie-card p{
    text-decoration: none;
}

.centrar:hover{
    color: white;
}


.movie-card:hover,
.active{
box-shadow: 0rem 0rem 10px 10px rgba(255, 255, 255, 0.25);
}

.movie-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.centrar {
    text-align: center;
}
