@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,100&display=swap');

body{
    margin: 0;
    padding: 0;
}

.main_container{
    margin: 0 4% 0 0;
    position: relative;
    width: 93%;
    margin-left: 2%;
}

.image{
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 5px;

}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.main_container:hover .overlay{
    height: 100%;
    border-radius: 5px;
    box-shadow: 0rem 0rem 1.5px 1.5px rgb(98, 41, 173);

}

.tit-card{
    text-align: center;
    background: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p-card{
    color: white;
    font-size: 1.2vw;
    margin:   0 0;
    width: 100%;
    letter-spacing: 1px;
    line-height: 1.1em;
    background: none;
    text-align: center;
    padding: 0% 4% 0% 4%;
    font-weight: lighter;
}