@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');

.navbar {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(14, 13, 19);
}

.search-bar {
    width: 16%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
}

.search-bar_input {
    width: 100%;
    background-color: darkgray;
    color: white;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0.3rem 3.5rem 0.3rem 0.6rem;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;

}

.search-bar_submit {
    width: 2.5rem;
    height: 1px;
    margin-left: -2.7rem;
    border: none;
    outline: none;
    background-color: darkgray;
    margin-top: -12px;

}

#icono_navbar {
    color: white;
    background-color: darkgray;
}


.search-bar:hover {
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}

.search-bar:hover .search-bar_input {
    background-color: white;
    color: black;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}

.search-bar:hover .search-bar_submit {
    background-color: white;
    color: black;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}

.search-bar:hover #icono_navbar {
    background-color: white;
    color: black;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}

.logo {
    border-radius: 8px;
    margin-left: 0%;
}

ul {
    list-style-type: none;
    margin-left: 6%;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;

}

li a {
    display: block;
    color: rgb(153, 170, 187);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(14, 13, 19);
    letter-spacing: .07em;

}

li :hover {
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}