
.navbar {
    display: flex;
    align-items:stretch;
    margin-top: 0.9%;
}
.search-bar {
    width: 16%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-bar_input {
    width: 100%;
    background-color: darkgray;
    color: white;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0.3rem 3.5rem 0.3rem 0.6rem;
    font-size: 1rem;
}
.search-bar_submit {
    width: 2.5rem;
    height: 1px;
    margin-left: -2.7rem;
    border: none;
    outline: none;
    background-color: darkgray;
}
#icono_navbar {
    color: white ;
    background-color: darkgray;
}


.search-bar:hover{
    cursor: pointer;
}
.search-bar:hover .search-bar_input{
    background-color: white;
    color: black;
}
.search-bar:hover .search-bar_submit{
    background-color: white;
    color: black;
} 
.search-bar:hover #icono_navbar {
    background-color: white;
    color: black;
    cursor: pointer;
}
